* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
}
:root {
  --white: #ffffff;
  --whitesmoke: #f5f5f5;
  --lightgray: #cfcfcf;
  --gunsmoke: #888888;
  --darkgray: #393939;
  --black: #121212;
  --darkblack: #090909;
}
body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 70px;
}
.container {
  padding: 50px 100px;
}
/**************** navigation bar ****************/
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: var(--white);
  z-index: 999;
}
.logo {
  font-size: 2rem;
  color: var(--darkblack);
  font-weight: bolder;
  font-family: 'Playfair Display', serif;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links > li > a {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 30px;
  transition: color 0.4s ease;
}
li > a {
    color: var(--gunsmoke);
}
.nav-links > li > a:hover {
  color: var(--black);
}
a.active {
  color: var(--black);
  position: relative;
}
.active::after {
  content: "";
  position: absolute;
  background-color: var(--black);
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}

/************* Hero section *****************/
.hero-flex {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.hero-flex > * {
  flex: 1;
}
.hero-flex > h2 {
  font-size: 3.5rem;
  font-weight: 700;
}
.hero-flex > div > p, .about > p {
  font-size: 1.2rem;
  line-height: 2rem;
}
.hero > img {
  width: 100%;
  height: 700px;
  object-position: center center;
  object-fit: cover;
}
.dark {
  color: var(--white);
  background-color: var(--black);
  font-weight: 600;
  font-size: 1rem;
  padding: 16px 21px;
  cursor: pointer;
  transition: opacity 0.5s ease-in;
}
.dark:hover {
  opacity: 0.8;
}
.light {
  color: var(--black);
  background-color: transparent;
  border: 1px solid var(--black);
  padding: 15px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}
.light:hover {
  background-color: rgba(207, 207, 207, 0.2);
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 30px;
  gap: 20px;
}

/**************** ABOUT-US SECTION ****************/

.about {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 850px;
  gap: 90px;
  padding-bottom: 50px;
}
.about > h4 {
  font-style: italic;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  white-space: nowrap;
}
.about-img {
  width: 820px;
  position: relative;
}
.about-img > img {
  object-position: center center;
  object-fit: cover;
  width: 100%;
}
.open {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  /* gap: 60px; */
}
.rotate-text {
  position: absolute;
  right: 3%;
  bottom: -15%;
  transform: scale(0.7);
}
.circle {
  position: relative;
  background-color: var(--darkblack);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: anim 10s linear infinite;
}
@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text span {
  position: absolute;
  left: 50%;
  font-weight: 500;
  font-size: 0.9rem;
  transform-origin: 0 100px;
}
.open-hours > h5 {
  font-weight: 900;
  font-size: 1.4rem;
  margin-bottom: 15px;
}
.open-hours > p {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: var(--darkgray);
}
.open-hours > div {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
  color: var(--darkgray);
  margin: 10px 0;
}
.open-hours > div > img {
  width: 25px;
}
.open-hours > button {
  margin-top: 30px;
}
.addy {
  margin-top: 40px;
}
.menu-grid > div {
height: 400px;
 
}
.menu-grid > div > img {
  object-position: center center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.menu-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.menu-grid > div:nth-of-type(3) {
  grid-column: span 2;
}
.menu-grid > div:nth-of-type(5) {
  grid-column: span 2;
}
.menu-grid > div:nth-of-type(7) {
  grid-column: span 2;
  mask-image: linear-gradient(to top, transparent 3%, #ffffff);
}
.menu-grid > div:nth-of-type(8) {
  position: relative;
}
.menu-grid > div:nth-of-type(8) > img {
  mask-image: linear-gradient(to top, transparent 3%, #ffffff);
}
.menu-grid > div:nth-of-type(9) {
  mask-image: linear-gradient(to top, transparent 3%, #ffffff);
}
.explore-menu {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 25%;
  z-index: 55;
}
.slider {
  height: 440px;
  overflow-y: hidden;
}

.slides {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.slide-image > img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  height: 100%;
}
.slide-image {
  height: 440px;
}
.slides > * {
  flex: 1;
}
.slide-review > h3 {
  font-weight: 900;
  font-size: 1.8rem;
  color: var(--darkblack);
}
.slide-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}
.slide-review > p, .slide-review > span {
  color: var(--darkgray);
  font-size: 1.2rem;
  font-weight: 400;
}

.message {
  font-weight: 900;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
}
.book-reservation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: 30px 20px 30px 0;
}
.book-reservation > div {
  flex: 1;
  font-weight: 800;
  font-size: 2.5rem;
  color: var(--white);
  background-color: var(--darkblack);
  padding: 50px;
}
.book-reservation > img {
  width: 120px;
}
.book-reservation > img:hover {
  opacity: 0.8;
  transform: translateY(-10px) scale(1.2);
}

/**************** FOOTER SECTION ****************/
.footer-flex {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer-flex > div > h5 {
  font-weight: 900;
  font-size: 1.2rem;
  color: var(--darkblack);
  margin-bottom: 15px;
}
.footer-address > p {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--darkgray);
  max-width: 400px;
  line-height: 1.8rem;
  margin-bottom: 15px;
}
.footer-address > div, .follow-us > div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--darkgray);
  font-size: 1.2rem;
  margin-bottom: 15px;
  cursor: pointer;
}
.follow-us > div:hover {
  opacity: 0.6;
  transform: translateX(10px);
}
.footer-logo {
  font-size: 10rem;
  font-weight: bolder;
  text-align: center;
  padding: 50px 0;
  border-bottom: 1px solid var(--lightgray);
  white-space: nowrap;
  font-family: 'Playfair Display', serif;

}
.copyright {
  text-align: center;
  padding-top: 50px;
  font-size: 0.9rem;
  color: var(--darkblack);
}